#wrap
  #logo
  #wrapnm
    .clear
    h2 Emergency Check-In
    form(method="GET",action="/search")
      fieldset
        legend Search
        label Enter MBR #/Serial:
        input(type='text', name='mbr')
        input(type='submit', value='Search')
    #results
      - if MemberNo!==undefined
        p MemberNo:  #{MemberNo}	 #{Name}
        p OwedTotal: #{OwedTotal}
        p Status: #{Status}
        p CtrType: #{CtrType}
        p Next Payment Due #{NextDueDate} for #{NextDueAmount} #{NextDueDesc}
        p Currently: #{Type}
    a(href="index",style="color:gray") Clear
